.laadimispunkt-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 2em;
  align-self: center;
  justify-self: center;
}

.w-100p {
  width: 100%;
}

td {
  padding-right: 1em;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  margin-right: 1em;
}

input:disabled {
  color: black;
}
