<div class="data-table">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="seisundi_kood">
      <th class="w-60" mat-header-cell *matHeaderCellDef>Kood</th>
      <td mat-cell *matCellDef="let element">
        <b>{{element.seisundi_kood}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="nimetus">
      <th class="w-75" mat-header-cell *matHeaderCellDef>Nimetus</th>
      <td mat-cell *matCellDef="let element">{{ element.nimetus}}</td>
    </ng-container>

    <ng-container matColumnDef="laadimispunktide_arv">
      <th class="w-75" mat-header-cell *matHeaderCellDef>X</th>
      <td mat-cell *matCellDef="let element">{{ element.laadimispunktide_arv }}</td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="action" mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
  </table>

</div>

