<div class="data-table">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th class="w-75" mat-header-cell *matHeaderCellDef=></th>
      <td mat-cell *matCellDef="let element">
        <b></b>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="sectorCode">
      <th class="w-100" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.sectorCode }}</td>
    </ng-container>

    <div class='action'>
      <ng-container matColumnDef="actions">
        <th class="w-75" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a><button mat-raised-button color='basic' class='update-button' (click)='navigateToBuildingById(element.id)'>Update</button></a>
        </td>
      </ng-container>
    </div>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button mat-raised-button color='primary' class='create-button' (click)='navigateToBuildingNew()'>Create</button>
</div>
